<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Welcome to the GladeJS !</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <rollup|entryName, cssBundle, esmBundle, cjsBundle|>
            $ const pageStyle = cssBundle.find(it => it.name === entryName);
            <if(pageStyle)>
                <style>${pageStyle.source}</style>
            </if>
            <for|style| of=cssBundle.filter(it => it.entries.includes(entryName))>
                <link rel="stylesheet" href=style.filePath/>
            </for>
            $ const pageChunk = esmBundle.find(it => it.name === entryName);
            <if(pageChunk)>
                <script type="module" async>${pageChunk.source}</script>
            </if>
            <if(cjsBundle.length)>
                <script nomodule async src=cjsBundle[0].filePath/>
            </if>
        </rollup>
    </head>
    <body class="home-page">
        <h1>Welcome to the GladeJS !</h1>
        <a class="logo" href="https://github.com/gladejs/gladejs">
            <img alt="GladeJS GitHub" src="./logos/gladejs.svg"/>
        </a>
        <h2>
            Coming Soon to a
            <a href="https://github.com/gladejs/gladejs">GitHub</a>
            near you ...
        </h2>
    </body>
</html>
