<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Hello World !</title>
        <for|style| of=input.styles>
            <link rel="stylesheet" href=style.href/>
        </for>
        <script type="module">
        ${input.module.code}</script>
        $ input.module.code = "";
    </head>
    <body>
        <main.flex-col role="main">
            <img src="./logos/marko.png"/>
            <counter/>
        </main>
    </body>
</html>
