<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>GladeJS Homepage</title>
        <rollup|entryName, cssBundle, esmBundle|>
            $ const pageStyle = cssBundle.find(it => it.name === "styles.css");
            <if(pageStyle)>
                <link rel="stylesheet" href=pageStyle.filePath/>
            </if>
            $ const pageChunk = esmBundle.find(it => it.name === entryName);
            <if(pageChunk)>
                <script type="module">${pageChunk.source}</script>
            </if>
        </rollup>
    </head>
    <body class="home-page">
        <h1>Welcome to the GladeJS !</h1>
        <a class="logo" href="https://github.com/gladejs/gladejs">
            <img alt="GladeJS GitHub" src="./logos/gladejs.svg"/>
        </a>
        <h2>
            Coming Soon to a
            <a href="https://github.com/gladejs/gladejs">GitHub</a>
            near you ...
        </h2>
    </body>
</html>
